# Digging Beneath the Surface

*Benjamin Johnson*


*February 26, 2018*

[Home](https://fastdatascientist.github.io/Digging-Beneath-the-Surface/)

[About Me](https://fastdatascientist.github.io/Digging-Beneath-the-Surface/author.html)

[Previous Entries](https://fastdatascientist.github.io/Digging-Beneath-the-Surface/posts.html)

## Major League Baseball Simulation

[We're talking baseball!](https://www.youtube.com/watch?v=ZkpyZws4bJ8) Spring training games kicked off last week, and Opening Day is just around the corner. This blog entry will focus on the results from the 2017 regular season. We will use the runs scored (RS) and runs against (RA) for each team to predict their actual win totals. The two prediction methods that we'll focus on are Monte Carlo simulation and Bill James' Pythagorean Theorem of Baseball.

&nbsp;

Let's start by loading some Python packages and reading in a dataset.

In [91]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\Benjamin\Desktop\mlb_2017.csv', encoding = "ISO-8859-1")
df['Wins'] = np.where(df['RS'] > df['RA'], 1, 0)
df.head(6)

                     Team League  RS  RA  Wins
0   San Francisco Giants      NL   5   6     0
1           Chicago Cubs      NL   3   4     0
2       New York Yankees      AL   3   7     0
3      Toronto Blue Jays      AL   2   3     0
4     Pittsburgh Pirates      NL   3   5     0
5  Philadelphia Phillies      NL   4   3     1

The *mlb_2017.csv* file contains the runs scored (RS) and runs against (RA) for all 162 regular season games for each time. Additionally, we have an indicator for whether the team belongs in the American League (AL) or National League (NL). We'll use this indicator for normalizing the values in the next block. The *Wins* column was calculated by checking whether the team scored more or less runs than its opponent (games typically cannot end in a tie).

&nbsp;

**Notes**: 
- The original dataset contained additional information, such as dates, number of innings, number of home runs, etc, but these columns were manually excluded when exporting the CSV.
- Credit to [Baseball Reference](https://www.baseball-reference.com/) for providing the data.

In [101]:
mean_al = df[df['League'] == 'AL'].mean()
stdev_al = df[df['League'] == 'AL'].std()
mean_nl = df[df['League'] == 'NL'].mean()
stdev_nl = df[df['League'] == 'NL'].std()

df['RS_norm'] = np.where(df['League'] == 'AL', df['RS'] - mean_al['RS']/stdev_al['RS'], df['RS'] - mean_nl['RS']/stdev_nl['RS'])
df['RA_norm'] = np.where(df['League'] == 'AL', df['RA'] - mean_al['RA']/stdev_al['RA'], df['RA'] - mean_nl['RA']/stdev_nl['RA'])

print("The AL mean for runs scored is " + str(mean_al['RS']))
print("The NL mean for runs scored is " + str(mean_nl['RS']))
df.head()

The AL mean for runs scored is 4.709053497942387
The NL mean for runs scored is 4.583950617283951

                    Team League  RS  RA  Wins   RS_norm   RA_norm
0  San Francisco Giants      NL   5   6     0  3.571742  4.569133
1          Chicago Cubs      NL   3   4     0  1.571742  2.569133
2      New York Yankees      AL   3   7     0  1.551201  5.554209
3     Toronto Blue Jays      AL   2   3     0  0.551201  1.554209
4    Pittsburgh Pirates      NL   3   5     0  1.571742  3.569133

American League teams generally score more runs than National League teams due to the designated hitter (DH) rule. To account for this, we normalize runs scored and runs against by scaling the raw values. However, it appears that the difference between the means is minor. In 2017, American League teams only scored *2.7%* more runs than National League teams on average (or 20 runs across 162 games). We will still use the normalized values in the upcoming analysis regardless.

In [102]:
table = pd.pivot_table(df, values=['Wins','RS_norm','RA_norm', 'RS', 'RA'], index='Team', aggfunc=[np.sum, np.mean, np.std])
wins = table['sum'][['Wins', 'RS', 'RA']]
norm = table['mean'][['RS_norm','RA_norm']]
stdev = table['std'][['RS_norm','RA_norm']]
wins.head()

                    Wins   RS   RA
Team
Arizona D'Backs       93  812  659
Atlanta Braves        72  732  821
Baltimore Orioles     75  743  841
Boston Red Sox        93  785  668
Chicago Cubs          92  822  695

This code block creates a pivot table that summarizes our variables for each team. The **wins** dataframe will be used to compare to the two prediction methods. The **norm** and **stdev** dataframes will be used within the Monte Carlo simulation in the next section.

In [77]:
### Create list of unique teams
teams = norm.index.tolist()
#teams = ["Arizona D'Backs\xa0"]

# Number of seasons and games to simulate
num_seasons = 100
num_games = 162

team_dict = {}
### Simulate entire season for each team
for team in teams:
    w_total = 0
    games = 0
    for i in np.arange(num_seasons):
        for g in np.arange(num_games):
            ra = np.random.normal(norm.loc[team, 'RA_norm'], stdev.loc[team, 'RA_norm'], 1)
            rs = np.random.normal(norm.loc[team, 'RS_norm'], stdev.loc[team, 'RS_norm'], 1)
            if rs > ra:
                w_total += 1
            games += 1
    team_dict[team] = round(w_total/games * num_games,0)
    sim = pd.Series(team_dict)

First, we create a list of all thirty Major League Baseball teams in the **norm** dataframe. We then initialize the number of games within a single season and the total number of seasons to simulate. We also create an empty dictionary to store the results of the Monte Carlo simulation.

&nbsp;

The simulation loops through each team, season, and game within that season. The win totals and game counts are reset prior to simulating the next team. Then, we grab a random normal value for the runs against and the runs scored. If the runs scored is greater than the runs against, then the team wins that particular game. After looping through all of the games, and keeping track of the wins and total games, we add the average number of wins per season to the dictionary and convert the dictionary to a *pandas series*.

&nbsp;

**Notes:**
- The normal distribution is continuous, but baseball scores are discrete. However, this actually works in our favor, as there is very little chance of a tie occurring.
- As the average wins per season can be fractional, we are rounding up or down to the nearest integer.

In [78]:
merged = wins.join(sim.to_frame(name = 'Wins_sim'), how='inner')
merged['Wins_py'] = round((merged['RS']**2) / (merged['RS']**2 + merged['RA']**2) * 162, 0)
merged = merged[['Wins', 'Wins_sim', 'Wins_py']]
merged.head()

                    Wins  Wins_sim  Wins_py
Team
Arizona D'Backs       93      95.0     98.0
Atlanta Braves        72      73.0     72.0
Baltimore Orioles     75      73.0     71.0
Boston Red Sox        93      91.0     94.0
Chicago Cubs          92      91.0     94.0

Next, we merge the simulated wins, *Wins_sim*, to the **wins** data, creating the **merged** dataframe. We also create the *Wins_py* column, which is the predicted wins according to the Pythagorean Theorem of Baseball. The formula is as follows:

&nbsp;

Predicted Wins =[(Runs Scored)^2]/[(Runs Scored)^2 + (Runs Allowed)^2] * 162

In [85]:
def r_squared(col):
    avg_wins = 162/2
    sse = (merged[col] - merged['Wins']) ** 2
    sst = (avg_wins - merged['Wins']) ** 2
    r_squared = 1 - sse.sum()/sst.sum()
    print(col + ": " + str(r_squared))

r_squared('Wins_sim')
r_squared('Wins_py')

Wins_sim: 0.8905601659751037
Wins_py: 0.8438796680497925

We now have the actual wins, simulated wins, and Pythagorean Theorem wins. This allows us to measure the accuracy of the models. By comparing the [sum of the squares of the errors](https://en.wikipedia.org/wiki/Residual_sum_of_squares) to the [total sum of squares](https://en.wikipedia.org/wiki/Total_sum_of_squares) (or the squared difference between each team's win total and the average wins), we can calculate the [R squared](https://en.wikipedia.org/wiki/Coefficient_of_determination) for each model. The R squared is a measure of how much variability can be explained by a particular model, where R squared = 1 represents a model that fits the data perfectly.

&nbsp;

Both models appear to be good predictors of the true win totals. The simulated predictions have an R squared nearly 5% higher than the Pythagorean Theorem model. However, we needed to perform quite a bit more work (and collect more granular data) in order to make these predictions. For future MLB win predictions, we're likely best off using Bill James' Pythagorean Theorem of Baseball formula.

&nbsp;

Hope you enjoyed the analysis! And you'd better hope that your team doesn't lose the Opener; otherwise they won't be able to serve any beer! *#DadJokes*

&nbsp;

Until next time,
&nbsp;

Ben

![alt text](https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/224478_10150744115150367_3111357_n.jpg?oh=750b1c1f9d2fc80891a91e2c9a0c5e4a&oe=5B0238A7 "Yankee Stadium 2011 - Nicole, Ben, Jon")